<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="nav-item dropdown" ngbDropdown>
                    <a [routerLink]="['/login']" class="nav-link">
                       <i class="fa fa-lock" aria-hidden="true"></i> Login <b class="caret"></b>
                    </a>

                </li>
            </ul>
        </div>
    </nav>


</div>

<div class="home-page">
    <div class="row mt-5 p-3">
        <div class="col-md-4 push-md-4 text-center p-3" style="margin-top:10%">
            <img src="assets/images/logo.png" class="user-avatar img-fluid " />

            <form role="form">
                <div class="form-content mt-5">
                    <div class="form-group w-100" >
                        <md-input-container class="w-100">
                            <input mdInput placeholder="Company Name, Company Symbol, CIK or Person's Name" [mdAutocomplete]="auto" [formControl]="stateCtrl">
                        </md-input-container>

                        <md-autocomplete #auto="mdAutocomplete">
                            <md-option *ngFor="let name of value | async" [value]="name">
                                {{ name }}
                            </md-option>
                        </md-autocomplete>
                    </div>

                    <!-- <p class="markText">Company Name, Company Symbol, CIK or Person's Name</p> -->

                </div>
                 <a md-raised-button [routerLink]="['/searchresult']">Equity Insight Search</a>
                  <a md-raised-button [routerLink]="['/']">I' feel lucky</a>
              
            </form>
        </div>
    </div>
</div>
